/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
    font-family: sans-serif;
    background-color: rgb(252, 252, 252);
 }

 body {
    margin: 0;
    padding: 0;
 }

 input, button {
    appearance: none;
    border: none;
    outline: none;
 }
 
 .flex-item {
    flex: 1;
 }

 .flex-container {
    display: flex;
 }

 .bold {
    font-weight: 600;
 }

 a {
    text-decoration: none;
    color: rgb(48,78,199);
 }  

 a:hover {
    text-decoration: underline;
 }

 .navbar {
    display: flex;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 1.15em;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: white;
}

.navbar a {
    color: rgb(111, 114, 135);
    padding: 20px 22px;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
}

.navbar a.main {
    color: rgb(240,85,55);
    font-weight: 600;
}

.navbar #search-event-input {
    background-color: rgb(248,247,250);
    height: 48px;
    padding: 8px;
    padding-left: 48px;
    width: 350px;
    border-radius: 6px;
}

.navbar .search-events-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar .search-events-wrapper svg {
    position: absolute;
    left: 16px;
    color: grey;
}

.page-wrapper {
    padding: 16px;
}