/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
    font-family: sans-serif;
    background-color: rgb(252, 252, 252);
 }

 body {
    margin: 0;
    padding: 0;
 }

 input, button {
    appearance: none;
    border: none;
    outline: none;
 }
 
 .flex-item {
    flex: 1;
 }

 .flex-container {
    display: flex;
 }

 .bold {
    font-weight: 600;
 }

 a {
    text-decoration: none;
    color: rgb(48, 78, 199);
 }  

 a:hover {
    text-decoration: underline;
 }

 .navbar {
    display: flex;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 1.15em;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: white;
}

.navbar a {
    color: rgb(111, 114, 135);
    padding: 20px 22px;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
}

.navbar a.main {
    color: rgb(240, 85, 55);
    font-weight: 600;
}

.navbar #search-event-input {
    background-color: rgb(248, 247, 250);
    height: 48px;
    padding: 8px;
    padding-left: 48px;
    width: 350px;
    border-radius: 6px;
    outline: none;
}

.navbar .search-events-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar .search-events-wrapper svg {
    position: absolute;
    left: 16px;
    color: grey;
}

.page-wrapper {
    padding: 16px;
}

.page-heading {
    font-size: 3em;
    margin: 0;
    margin-bottom: 16px;
}

input, textarea {
    outline: 1px solid rgb(111, 114, 135);
    border-radius: 2px;
    padding: 4px 8px;
    width: 300px;
    height: 30px;
    border: none;
    font-family: sans-serif;
    transition-duration: 0.2s;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}


input[type='submit'] {
    background-color: rgb(240, 85, 55);
    color: white;
    cursor: pointer;
    outline: none;
    transition-duration: 0.2s;
    font-weight: 600;
    height: 45px;
}

input[type='submit']:hover {
    background-color: rgb(250, 95, 65);
}

input[type='submit']:active, input[type='submit']:focus {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

input:not([type='submit']):active, input:not([type='submit']):focus, .field textarea:active, .field textarea:focus {
    outline: 3px solid blue;
}

.field {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.field label {
    font-size: 0.7em;
    color: rgb(69, 66, 89);
}

.field i, .field em {
    font-size: 0.7em;
}

.field_with_errors input, .field_with_errors textarea {
    outline: 3px solid red;
}

.form-errors {
    color: red;
    font-size: 0.8em;
    border-left: 6px solid red;
    padding-left: 8px;
    max-width: 300px;
}

.notice, .alert {
    margin-left: 16px;
    font-weight: 600;
    font-size: 0.9em;
    color: blue;
}

#user_remember_me {
    appearance: auto;
    outline: none;
    width: 20px;
    height: 20px;
}